.about_title {
  font-size: 23px;
  margin: 0;
}

#faqs {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

}

.about_wrapper {
  margin: 120px 0px;
  width: 90vw;
  height: 100vh;
}

.align-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.about_p {
  margin-bottom: 55px;
}


/* Accordion:  */
blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

strong {
  font-weight: bold; }


.Collapsible {
  background-color: none;
width: 460px;
}

.Collapsible__contentInner {
  padding:  0 10px 10px 10px;
  /* border: 1px solid #ebebeb; */
  border-top: 0; }
  .Collapsible__contentInner p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px; }
    .Collapsible__contentInner p:last-child {
      margin-bottom: 0; }

.Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  color: #333333;
  position: relative;
  /* border: 1px solid white; */
  padding: 10px 0 10px 0;
  background: none;
  color: black; }
.Collapsible__trigger:hover {
cursor: pointer;
background-color: #d9eaea;
}
  .Collapsible__trigger:after {
    font-family: 'FontAwesome';
    content: '\f107';
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    transition: transform 300ms; }
  .Collapsible__trigger.is-open:after {
    transform: rotateZ(180deg); }
  .Collapsible__trigger.is-disabled {
    opacity: 0.5;
    background-color: none; }

.CustomTriggerCSS {
  background-color: lightcoral;
  transition: background-color 200ms ease; }

.CustomTriggerCSS--open {
  background-color: darkslateblue; }

.Collapsible__custom-sibling {
  padding: 5px;
  font-size: 12px;
  background-color: #CBB700;
  color: black; }


  #faq_title {
     margin-bottom: 13px;
  }

  .open_about_para {
    margin: 0;
  }
