#puz-det {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  backdrop-filter: blur(4.5px);
  padding-bottom: 50px;
}
#puz-details-ul {
text-align: center;
max-height: 500px;
}
.puzzle-details-li {
  display: inline-block;
  text-align: center;
  margin: 0 10px 10px 10px; 
  overflow: hidden;
  border-radius: 10px;

}
.puzzle-details-image {
  object-fit:contain;
  width: auto;
  height: 240px;
  overflow: hidden;


}

#puz-det-image {
  object-fit:contain;
  width: auto;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;

}

#puz-det-image-wrap {
  display: flex;
  justify-content: center;
}

#puz-det-images {
  display: flex;
  padding-left: 35px;
  padding-right: 5px;
  max-width: 920px;
}

#puzzle-details-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.puzzle-details-title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 10px;
  margin-top: 20px;
}

.puzzle-details-description{
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  max-width: 840px;
  margin-top: 15px;
  padding: 10px

  
}

#puz-det-header {
  display: flex;
  
}


.cogSpin{
  animation-name: Spin;
  animation-duration: .2s;
  animation-timing-function: linear;
}
.cogStatic{
  animation-name: SpinBackwards;
  animation-duration: .2s;
  animation-timing-function: linear;
}


.puz-det-title-owner {
  padding-bottom: 20px;

}

.PuzzleDetailsContainer {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: flex-start;
}

.fa-sync-alt {
  font-size: 1.3em;
  color: black;
}
.fa-sync-alt:hover {
  color: #345341;
}

.swap-btn {
  padding-top: 35px;
  padding-left: 10px;
}

.puz-det-other-owner {
  display: flex;
}


.user-link-page {
  color: #0e8841;
  font-weight: bold;
}
