

 .LabelAndInputContainer {
   margin: 15px;
 }

 




 /* .add-puzzle-modal {
   
 } */

 .puz-form-erros {
   border: none;
   border-radius: 9px;
   background-color: rgb(192, 2, 2);
   color: white;
   padding: 10px;
   font-size: 0.8em;
 }

 .puz-edit-button {
   color: black;
   font-size: 1.2em;
   margin: 10px;
   border: none;
   background-color: #ffffff;
 }

 .puz-edit-button:hover {
  color: rgb(58, 58, 58);
   cursor: pointer;
 }

 .puz-edit-button:active {
  transform: scale(.97, .97);
 }


 /* .edit-puz {
   border: none;
   background-color: red;
   color: green;
 } */

.edit-puzzle-form {
  display: flex;
  flex-direction: column;
  width: 60%;
}

#picture_edit_icon {
  width: 35px;
  height: auto;
}

#edit_span {
  display: flex;
  
align-items: flex-end;
}

#edit_details {
  font-size: .74em;
  font-weight: 370;
  color: rgba(0, 0, 0, 0.567);
}
