

 .LabelAndInputContainer {
   margin: 15px;
 }

 

 .new-puzzle-submit-button {
   border:none;
   border-radius: 30px;

   padding: 9px 13px 9px 13px;

 }

 .new-puzzle-submit-button:hover {
   background-color: white;
 }



 /* .add-puzzle-modal {
   
 } */

 .puz-form-erros {
   border: none;
   border-radius: 9px;
   background-color: rgb(192, 2, 2);
   color: white;
   padding: 10px;
   font-size: 0.8em;
 }

 .puz-edit-button {
   color: black;
   font-size: 1.2em;
   margin: 10px;
   border: none;
   background-color: #ffffff;
 }

 .puz-edit-button:hover {
  color: rgb(58, 58, 58);
   cursor: pointer;
 }

 .puz-edit-button:active {
  transform: scale(.97, .97);
 }


 /* .edit-puz {
   border: none;
   background-color: red;
   color: green;
 } */
