.swap-btn {
  border: none;
  font-size: 1em;
  /* padding-top: 30px; */
  color: #88dfac;
  background: none;
  /* padding-left: 30px; */
  font-weight: bold;
}


.swap-btn:hover {
  cursor: pointer;
  color: #9affc4;
}

.swap-btn:active {
  transform: scale(0.94);
}


.user-puz-selection {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1050px;

}

.swap-form-title {
  /* margin-top: 60px; */
  margin-bottom: 30px;
}

.swap-message-input {
  width: 300px
}

.puzzle-card-image {
  border-radius: 0;
}

/* .puzzle-card-logo {
    height: 140px;
    margin-top: 13px;
} */

.logo-swap-form {
  width: 90px;
  height: auto;
  padding-top: 30px;
}

.puzzle-card-background-swap-form {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.puz-title-swap-form {
  width: 100%;

}

.puz-select-button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  margin: 10px
}

.selected-puzzle {
  box-shadow: 0 0 10px 5px red
}
.puz-card-wrap-form {
  margin: 0
}
/* .puz-select-button:focus {
  box-shadow: 0 0 10px 5px red

} */

.red-btn {
  background-color: red;
  font-weight: bold;
}

#swap_form_holder {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 110px;
  align-items: center;

}


.swap_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.swap-form-title {
  display: flex;
justify-content: center;
font-weight: 360;
}
