/* TODO Add site wide styles */


* {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:visited { 
  text-decoration: none; 
  color: rgb(0, 0, 0); 
 }

 #logo {
   width: auto;
   height: 90px;
 }
 .font-logo {
   font-size: 60px;
   color: white;
   margin-left: 10px;
 }

 .font-logo:hover {
   color: #30da77;
 }


 #nav {
   display: flex;
   justify-content: space-between;
   background-color: #26532b;
   align-items: center;
   height: 90px;

 }

 .profile-button {
   background-color: white;
   background-image: url("./profile.png");
   background-size:     cover;                      /* <------ */
   background-repeat:   no-repeat;
   background-position: center center;     
   height: 50px;
   width: 50px;
   border: none;
   border-radius: 100px;
   margin-right: 10px;
 }

 .profile-button:hover {
   cursor: pointer;
 }

 #perfect-fit {
   font-size: 40px;
   color: white;
   margin-right: 50px;
 }

 .add-puzzle-button {
   color: white;
   font-size: 47px;
   margin-left: 30px;
 }

 #nav-left {
   display: flex;
   align-items: center;
   align-content: center;
   justify-content: center
 }
