/* TODO Add site wide styles */


* {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:visited { 
  text-decoration: none; 
  color: rgb(0, 0, 0); 
 }

 #logo {
   width: auto;
   height: 90px;
 }
 .font-logo {
   font-size: 60px;
   color: black;
   margin-left: 10px;
 }

 .font-logo:hover {
   color: rgb(77, 77, 77);
 }
 .font-logo:active {
  transform: scale(.97, .97);
 }


 #nav {
   display: flex;
   justify-content: space-between;
   background-color: #9bffc5;
   align-items: center;
   height: 90px;

 }

 .profile-button {
   background-color: #9bffc5;
   background-image: url("./profile.png");
   background-size:     cover;                      /* <------ */
   background-repeat:   no-repeat;
   background-position: center center;     
   height: 50px;
   width: 50px;
   border: none;
   border-radius: 100px;
   margin-right: 10px;
 }

 .profile-button:hover {
   cursor: pointer;
   background-color: #7ac99b;


 }

 .profile-button:active {

  transform: scale(.97, .97);
 }

 #perfect-fit {
   font-size: 50px;
   font-weight: bold;
   color: black;
   margin-right: 50px;
   /* position: absolute;  */
   transform: translate(-5%); 
 }

 .add-puzzle-button {
   color: black;
   font-size: 37px;
   margin-left: 30px;
 }

 .add-puzzle-button {
  border: none;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 4px;
  height: 50px;
  width: 50px;
  margin-top: 15px;
  margin-left: 15px;
 }

.add-puzzle-button:hover {
  color: rgb(77, 77, 77);
}

.add-puzzle-button:active {
  transform: scale(.97, .97);
 }


 #nav-left {
   display: flex;
   align-items: center;
   align-content: center;
   justify-content: center
 }


 .recipient-swaps-ul {
  white-space:nowrap;

 }

 .puz-pair-li {
  display:inline;

 }
