.auth-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
     align-content: center;
  align-items: center;
  /* background-color: #26532b94; */
  height: 98%;
  width: 30%;
 margin: auto;
}

.form_and_image_holder {
  display: flex;
  width: 100%;
  justify-content: center;

}

.Perfect_Fit_header {
 position:absolute;
 top:0;
}

#demo_button {
  margin-top: 20px;
}

.login-title {
  font-weight: 350;
}

.already {
  color: #00b0ff;
  padding-top: 20px;
  font-weight: 250;
}

.login-input {
  padding: 7px 3px 0 2px;
  font-size: 1.2em;
  border: none;
  border-bottom: 1px solid rgba(18, 18, 18, 0.409);
  margin: 10px 5px;
  width: 100%;
  /* min-width: 100%; */
  max-width: 250px;
  background: none;
}

.auth-btn {
  margin-top: 15px;
}
#demo_now {
  text-decoration: none;
	color: inherit;
  color: rgb(0, 0, 0);
  box-sizing: border-box;
	font: inherit;
  font-family: Gill Sans, sans-serif;
  text-align: center;

  background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;

}
