.inner-home-container {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-content: space-between;
}

.text-align {
  text-align: center;
}

.center-flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-content: space-between;
}

#welcome-span {
  margin: 8px 10px 0 10px
}


.reviews-ul {
  display: flex;
  justify-content: space-between;
  padding: 0 5px 0 5px
}
.reviews-ul > li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  margin: 0 5px 0 5px;
  background-color: rgba(183, 183, 183, 0.183);
  align-items: center;
  align-content: center
  
}

.popular-category {
  background-color: rgba(195, 195, 195, 0.409);
  width: 100px;
  height: 100px;
  margin-right: 5px;
}
.popular-category-ul {
  display: flex;
  padding: 0;

}

.home-bottom {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 50px;
}

.right-home {
  display: flex;
  padding-right: 10px;
  flex-wrap: wrap ;
  margin-left: 20px;

}

.right-left {
  padding-left: 10px;

}
.left-home {
  margin-left: 15px;
}

.whats-new {
  /* background-color: grey; */
  height: 135px;
  width: 195px;
  margin-right: 20px;
  margin-bottom: 50px;
}
.near-you {
  /* background-color: grey; */
  height: 135px;
  width: 195px;

}

.pop_category_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position:  center top;
}

#whats_new_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position:  center top;
  padding: 0;
  margin: 0;
  margin-top: 6px;

}
#near_you_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position:  center bottom;
  padding: 0;
  margin: 0;
  margin-top: 6px;

}

.right_home_title {
  /* background-color: white; */
  margin-bottom: 10px;
}

.review_li {
width: 270px;
height: 170px;

padding: 10px;

}
