.inner-home-container {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-content: space-between;
}

.text-align {
  text-align: center;
}

.center-flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-content: space-between;
}

#welcome-span {
  margin: 8px 10px 0 10px
}


.reviews-ul {
  display: flex;
  justify-content: space-between;
  padding: 0 5px 0 5px
}
.reviews-ul > li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  margin: 0 5px 0 5px;
  background: none;
  align-items: center;
  align-content: center
  
}

.popular-category {
  background: none;
  width: 100px;
  height: 100px;
  margin-right: 35px;
}
.popular-category-ul {
  display: flex;
  padding: 0;
  margin-left: 40px;
}

.home-bottom {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  padding-top: 40px;
  padding-bottom: 50px;
  flex-direction: column;
  align-items: center;
}

.right-home {
  display: flex;
  flex-wrap: wrap ;
  margin-top: 35px;
  width: 520px;
  justify-content: space-between;
}

.right-left {
  padding-left: 10px;

}
.left-home {

}

.whats-new {
  /* background-color: grey; */
  height: 160px;
  width: 220px;
  margin-right: 20px;
}
.near-you {
  /* background-color: grey; */
  height: auto;
  width: 220px;

}

.pop_category_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position:  center top;
}

#whats_new_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position:  center top;
  padding: 0;
  margin: 0;
  margin-top: 6px;

}
#near_you_img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position:  center top;
  padding: 0;
  margin: 0;
  margin-top: 6px;

}

.right_home_title {
  /* background-color: white; */
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.review_li {
width: 270px;
height: 170px;

padding: 10px;
background: none;

}

.home_description {
  width: 80%;
  max-width: 800px;
}

#browse_title {
  display: flex;
  justify-content: center;
  font-size: 1.15em;
  font-weight: 365;
}
