.add-puzzle-button {
  background-color: #9bffc5; 
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 4px;
 }


 .LabelAndInputContainer {
   margin: 15px;
 }

 .add-puzzle-form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   align-items: center;
   /* background-color: #26532b94; */
 }

 .new-puzzle-submit-button {
   border:none;
   border-radius: 30px;

   padding: 9px;

 }

 .puzzle-form-input {
   padding: 9px;
   border: none;
   background-color: #efefef;
   border-radius: 30px;
   display: flex;
   justify-content: center;
   text-align: center;

 }

 .edit-puzzle-delete-button {
   margin-top: 65px;
   background-color: rgb(151, 1, 1);
   color: #efefef;
   font-size: .8em;
 }
 .puzzle-form-input:hover {
   background-color: white;
 }
 .new-puzzle-submit-button {
   margin: 0 10px 0 10px
 }


 /* .add-puzzle-modal {
   
 } */

 .puz-form-erros {
   border: none;
   border-radius: 9px;
   background-color: rgb(192, 2, 2);
   color: white;
   padding: 10px;
   font-size: 0.8em;
 }
