.add-img-btn {
  width: 35px;
  height: 35px;
  color: black;
  background-color: white;
  font-size: 1em;
  padding: 0;
  border: none;
  background: none;
}

.add-img-icon {
  font-size: 1em;
  color: black;
  background-color: white;
  padding: 0;
}

.img-input {
  display: flex;
  justify-content: center;
  padding-left: 65px;
  border: none;
  

}
#file-upload-button{
 
  border: none;
  padding: 5px;
  background-color: aqua;


}
